<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div class="container">


<nav class="navbar navbar-inverse" role="navigation">



  
</nav>



<div class="btn-group-vertical">
  ...
</div>




<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/vw.jpg" alt="...">
      <div class="caption">
        <h3>VW Caddy</h3>
        <p>Brand:VW</p>
        <p>Model:Caddy</p>
        <p>Motor:Diesel 1.9 TDI</p>
        <p>Boja:Bijela</p>
        <p>Kilometraza: 150.000</p>
        <p>Potrosnja: 6l</p>

        <p><a href="#" class="btn btn-primary" role="button">Edit</a> <a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <img src="/images/vw.jpg" alt="...">
      <div class="caption">
        <h3>VW Caddy</h3>
        <p>Brand:VW</p>
        <p>Model:Caddy</p>
        <p>Motor:Diesel 1.9 TDI</p>
        <p>Boja:Bijela</p>
        <p>Kilometraza: 150.000</p>
        <p>Potrosnja: 6l</p>

        <p><a href="#" class="btn btn-primary" role="button">Edit</a> <a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <img src="/images/vw.jpg" alt="...">
      <div class="caption">
        <h3>VW Caddy</h3>
        <p>Brand:VW</p>
        <p>Model:Caddy</p>
        <p>Motor:Diesel 1.9 TDI</p>
        <p>Boja:Bijela</p>
        <p>Kilometraza: 150.000</p>
        <p>Potrosnja: 6l</p>

        <p><a href="#" class="btn btn-primary" role="button">Edit</a> <a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>



</div>

    
</body>
</html>