
<div>
<img src="/images/iblogo.png" class="logo">
</div>


<div class="container">

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/main/new">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        
        <li class="#"><a href="/renting/new">Renting</a></li>
        <li class="#"><a href="/newcar/addcar">New vehicle</a></li>
        
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Locations <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

            <li><a href="#">Sarajevo</a></li>
            <li><a href="#">Pula</a></li>
            <li><a href="#">Zagreb</a></li>
            <li><a href="#">Beograd</a></li>
            
          </ul>
        </li>
      </ul>
      


      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://www.infobip.com/about/">About Us</a></li>
            <li><a href="http://www.infobip.com/about/people/">People</a></li>
            <li><a href="http://www.infobip.com/about/worldwide_locations/">Offices</a></li>
            <li><a href="http://www.infobip.com/about/careers/">Careers</a></li>
            <li><a href="http://www.infobip.com/about/associations/">Associations</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="jumbotron">
  <h1>Welcome!</h1>
  <p> This is web aplication "Infobip Renta" made by IT students from International Burch University Sarajevo. It has been made in order to provide employees quick and easier track of vehicles that the company owns at four locations (Sarajevo, Pula, Zagreb and Belgrade).</p>
  <p>Through this application employees can see which of available cars is free and they can easily book it for the intended voyage while others will be able to see from when to when the car is busy and when it will be available for further use.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>



</div>

