<div class="container">
<br>
  <div class="jumbotron">
    <img src="/images/Infobip-logo.png">

    <h2>This is the infobip rent a car system !</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign Up</a>
  </div>
</div>